*.blk linguist-language=Forth
*.scr linguist-language=Forth
/camelforth/*.txt linguist-language=Forth
/camelforth/camgloss.txt linguist-language=Text
/camelforth/save_load.txt linguist-language=Text
/camelforth/word_formats.txt linguist-language=Text
