<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.hardware.Nios2HardwareLaunchConfiguration">
<stringAttribute key="byteStreamDeviceCableName" value="USB-Blaster on localhost [USB-0]"/>
<stringAttribute key="byteStreamDeviceDeviceID" value="1"/>
<stringAttribute key="byteStreamDeviceInstanceID" value="0"/>
<stringAttribute key="com.altera.sbtgui.launch.REMOTE_PORT" value="54321"/>
<booleanAttribute key="downloadProgram" value="true"/>
<stringAttribute key="elfFile" value="E:\work\ESPIER_I\demo\zr_200\software\lcd_pio\lcd_pio.elf"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="com.altera.debug.cdi.gdb.plugin.Nios2GDBServerGcc4CommandFactory"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList&gt;&lt;content id=&quot;status-Lcd_CheckBusy-(format)&quot; val=&quot;4&quot;/&gt;&lt;content id=&quot;com-Lcd_WriteCommand-(format)&quot; val=&quot;4&quot;/&gt;&lt;/contentList&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="lcd_pio.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="lcd_pio"/>
<stringAttribute key="processorCableName" value="USB-Blaster on localhost [USB-0]"/>
<stringAttribute key="processorDeviceIndex" value="1"/>
<stringAttribute key="processorInstanceId" value="0"/>
<booleanAttribute key="runProgram" value="true"/>
</launchConfiguration>
